
**/.DS_Store

Subterranea/bin/Debug/Subterranea.exe
Subterranea/bin/Debug/MonoGame.Framework.dll
Subterranea/Content/obj/DesktopGL/.mgcontent
Subterranea/Content/obj/DesktopGL/circle.mgcontent
Subterranea/Content/obj/DesktopGL/slope.mgcontent
Subterranea/obj/x86/Debug/Subterranea.csproj.FileListAbsolute.txt
